@{
    ViewBag.Title = "访问被拒绝!";    
}
<!-- Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-circle_info"></i>@ViewBag.Title<br><small>您无权访问此页面. @ViewBag.Message</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>管理员</li>
    <li><a href="javascript:void(0)">@ViewBag.Title</a></li>
</ul>
<!-- END Header -->

<div class="block">
    <!-- Warning Alert -->
    <div class="alert alert-warning">
        <p>您无权访问此页面,请联系LIayuan或其他负责系统的人员.</p>
    </div>
    <!-- END Warning Alert -->
</div>