@{
    ViewBag.Title = "您当前尚未登录";    
}
<!-- Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-circle_info"></i>@ViewBag.Title<br><small>为确保服务器的安全,您需要登录. @ViewBag.Message</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>主页</li>
    <li><a href="javascript:void(0)">@ViewBag.Title</a></li>
</ul>
<!-- END Header -->

<div class="block">
    <!-- Warning Alert -->
    <div class="alert alert-warning">
        <p>请登录以使用此功能.</p>
    </div>
    <!-- END Warning Alert -->
</div>