@{
    ViewBag.Title = "找回密码";
}

<!-- Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="gi gi-circle_info"></i>@ViewBag.Title<br><small>结果 @ViewBag.Message </small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>主页</li>
    <li><a href="javascript:void(0)">@ViewBag.Title</a></li>
</ul>
<div class="block">
    <p>
        请检查您的电子邮件以获取密码
    </p>
</div>
	
